
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      {{!-- <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top"> --}}
      Watch Maniac
    </a>
    <a href="/login">Login</a>
  </div>
</nav>