{{!-- <nav class="navbar bg-light">
  <div class="container-fluid">


    <a class="navbar-brand" href="/users/home">
      {{!-- <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> --}}
      Watch maniac
    </a>
     <a href='/users/orders'>your orders</a> --}}
    {{!-- <a style="text-decoration: none;" href="/users/catpro/MEN">Mens shop </a>
    <a style="text-decoration: none;" href="/users/catpro/WOMEN">Womens collections</a>
    <a style="text-decoration: none;" href="/users/catpro/UNISEX">unisex</a>




    <a href="/users/cart">
      <ion-icon name="cart-outline"></ion-icon><span class="badge bg-success">{{cartCount}}</span>
    </a>
    <a href="/users/wishlist" style="">
      <ion-icon name="heart-outline"></ion-icon><span></span>
    </a>
    <a href="/users/wishlist" style="">
      <i class="fa fa-user" aria-hidden="true"></i>
    </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Your account
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
        <li><a class="dropdown-item" href="/users/address">Address</a></li>
        <li><a class="dropdown-item" href="/users/password">Password</a></li>
        <li><a class="dropdown-item" href="/users/wallet">Wallet</a></li>
        <li><a class="dropdown-item" href="/users/orders">Your orders</a></li>
      </ul>
    </div>


</nav> --}}


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark  shadow text-light">
  <div class="container-fluid">
    <h3>Watch Maniac</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="mx-auto">
        <ul class="navbar-nav" style="font-weight:700;">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link active pe-4" aria-current="page" href="/users/home"
              style=" color: font-family:auto; font-size: larger;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/users/catpro/MEN"
              style=" font-family:auto; font-size: larger;">Mens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/users/catpro/WOMEN"
              style="font-family:auto; font-size: larger;">Womens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/users/catpro/UNISEX"
              style="font-family:auto; font-size: larger;">Unisex</a>
          </li>
          {{!-- <li class="nav-item" id="searchbar">
            <form style="" class="d-flex " action="/productsearch?search" method="get">
              <input style=" border-radius: 10px;" class="form-control me-2 " type="search" placeholder="Search"
                aria-label="Search" name="search">
              <button type="submit" style="border:0; color:white; background-color: transparent; font-size: 24px;"><i
                  class='fa fa-search'></i></button>
            </form>
          </li> --}}
          {{else}}
          <li class="nav-item">
            <a class="nav-link active pe-4" aria-current="page" href="/"
              style="font-family:auto; font-size: larger;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/" style="font-family:auto; font-size: larger;">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/login"
              style="font-family:auto; font-size: larger; border:0; ">Orders</a>
          </li>
         
          {{/if}}
        </ul>
      </div>
      <div class="">
        <ul class="navbar-nav me-3" style="font-weight:700;">
          {{#if user}}
         
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Your account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/users/address">Address</a></li>
              <li><a class="dropdown-item" href="/users/password">Password</a></li>
              <li><a class="dropdown-item" href="/users/wallet">Wallet</a></li>
              <li><a class="dropdown-item" href="/users/orders">Your orders</a></li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link active pe-4 position-relative" href="/users/cart" style="font-family:auto; font-size: larger;">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="font-size:10px;"
                id="cart-count">
               {{cartCount}}
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4 position-relative" href="/users/wishlist"
              style=" font-family:auto; font-size: larger;">
              <i class="fa-solid fa-heart"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/users/logout" style=" font-family:auto; font-size: larger;"><i
                class="fa-solid fa-right-from-bracket"></i></a>
          </li>
          {{else}}

          <li class="nav-item">
            <a class="nav-link active pe-4" aria-current="page" href="/login"
              style=" font-family:auto; font-size: larger;"><i class="fa-solid fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4 position-relative" href="/login"
              style="font-family:auto; font-size: larger;">
              <i class="fa-solid fa-cart-shopping"></i>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4 position-relative" href="/login"
              style=" font-family:auto; font-size: larger;">
              <i class="fa-solid fa-heart"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pe-4" href="/login" style=" font-family:auto; font-size: larger;"><i
                class="fa-solid fa-right-from-bracket"></i></a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
  @media(max-width :991px) {

    #searchbar {
      width: max-content;
    }


  }
</style>