{{!-- <div class="carousel-item active">
  <img class="d-block w-100"
    src="https://www.bobswatches.com/rolex-blog/wp-content/uploads/2022/07/Rolex-Oyster-Perpetual.png"
    alt="First slide">
</div>
<div id="container"> --}}

  <main>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,200;1,300&display=swap"
      rel="stylesheet">

    <style>
      a {
        text-decoration: none;
      }

      h4 {
        display: inline
      }

      h5 {
        display: inline
      }
    </style>

    <br>
    <br>
    <br>
    <h1 class="main-header">Watch Maniac <h1>
        <p>The latest and greatest.</p>
        <a href="#" class="links">Learn more ></a> <a href="#" class="links">Buy ></a>
        <br>
        <img
          src="https://www.audemarspiguet.com/content/dam/ap/com/products/watches/MTR009838.00/importer/standup.png.transform.approductmain.png"
          width="500"></img>


        <h2 class="main-header"> Audemars Black</h2>
        <p> Built for the Legends.</p>
        <a href="#" class="links">Learn more ></a> <a href="#" class="links">Buy ></a>
        <br>
        <img src="https://wristreview.com/wp-content/uploads/2022/01/hero_jumbo_steel-scaled.jpg" width="500"></img>

        <div class="container">
          <div class="grid">

            <section id="airpods" class="cell">
              <h3 class="header">AirPods</h3>
              <p class="caption"> With all new Spatial Audio.</p>
              <a href="#" class="links">Learn more ></a> <a href="#" class="links">Buy ></a>
              <br>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnJD3GKKZ9d7cqrNP1l8fZvBdBD7JiGEjGuw&usqp=CAU"
                width="250"></img>
            </section>

            <section id="apple-watch" class="cell">
              <br>
              <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" width="30"></img>
              <h4 class="header">Watch</h4>
              <p class="caption">The largest display yet.</p>
              <a href="#" class="links">Learn more ></a> <a href="#" class="links">Buy ></a>
              <br>
              <img src="https://watch-our.com/wp-content/uploads/2021/05/chronograph-1-1920x1080.jpg" width="250"></img>
            </section>

            <section id="card" class="cell">
              {{!-- <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                width="30"></img> --}}
              <h5 class="header">Card</h5>
              <p class="caption">3% cash back with every purchase.</p>
              <a href="#" class="links">Learn more ></a> <a href="#" class="links">Apply ></a>
              <br>
              <br>
              <img src="https://techcrunch.com/wp-content/uploads/2019/07/card__fhxgfbpnt7e6_large_2x.jpg"
                width="250"></img>
            </section>

          
          </div>
        </div>

  </main>
  <!-- Start Footer -->
  <footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4 pt-5">
          <h2 class="h2 text-success border-bottom pb-3 border-light logo">Watch maniac</h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li>
              <i class="fas fa-map-marker-alt fa-fw"></i>
              123 Consectetur at ligula 10660
            </li>
            <li>
              <i class="fa fa-phone fa-fw"></i>
              <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </li>
            <li>
              <i class="fa fa-envelope fa-fw"></i>
              <a class="text-decoration-none" href="mailto:info@company.com">watchmaniacc@company.com</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 pt-5">
          <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li><a class="text-decoration-none" href="#">Luxury</a></li>
            <li><a class="text-decoration-none" href="#">Sport Watch</a></li>
            <li><a class="text-decoration-none" href="#">Men's watch</a></li>
            <li><a class="text-decoration-none" href="#">Women's watchs</a></li>
            {{!-- <li><a class="text-decoration-none" href="#">Popular Dress</a></li> --}}
            {{!-- <li><a class="text-decoration-none" href="#">Gym Accessories</a></li> --}}
            <li><a class="text-decoration-none" href="#">Sport Watch</a></li>
          </ul>
        </div>

        <div class="col-md-4 pt-5">
          <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li><a class="text-decoration-none" href="#">Home</a></li>
            <li><a class="text-decoration-none" href="#">About Us</a></li>
            <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
            <li><a class="text-decoration-none" href="#">FAQs</a></li>
            <li><a class="text-decoration-none" href="#">Contact</a></li>
          </ul>
        </div>

      </div>

      <div class="row text-light mb-4">
        <div class="col-12 mb-3">
          <div class="w-100 my-3 border-top border-light"></div>
        </div>
        <div class="col-auto me-auto">
          <ul class="list-inline text-left footer-icons">
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                  class="fab fa-facebook-f fa-lg fa-fw"></i></a>
            </li>
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                  class="fab fa-instagram fa-lg fa-fw"></i></a>
            </li>
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                  class="fab fa-twitter fa-lg fa-fw"></i></a>
            </li>
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                  class="fab fa-linkedin fa-lg fa-fw"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="subscribeEmail">Email address</label>
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
              placeholder="Email address">
            <div class="input-group-text btn-success text-light">Subscribe</div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 bg-black py-3">
      <div class="container">
        <div class="row pt-2">
          <div class="col-12">
            <p class="text-left text-light">
              Copyright &copy; 2021 Company Name
              | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->


  <style>
    main {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      width: 50%;
      margin: auto;
    }

    .header {
      font-size: 30px;

    }

    .caption {
      font-size: 18px;
    }

    .links {
      font-size: 18px;
    }

    h1 {
      padding: 0px 0px 0px 0px;
    }

    #airpods {}

    #apple-watch {}

    #card {}

    #apple-tv {
      background-image: url("http://apg1979.com/studio/wp-content/uploads/2017/10/99.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-color: black;
    }

    #stream-now {
      padding: 25em 0em 0em 0em;

    }

    #navbar {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 50px;
      border: 1px solid;
      background-color: rgba(12, 11, 12, 0.9);
      display: flex;
      justify-content: space-between;
    }

    .nav-link {
      color: white;
      padding-top: 10px;
      width: 75%;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 50px;
    }
  </style>